.faq {
  &__list {
    @include flex-column(32);
    max-width: 672px;
    margin: 0 auto;
  }

  &__head {
    @include flex-between(20);
    transition: color .4s;
    cursor: pointer;

    &:hover {
      color: $lavender-bliss;
    }
  }

  &__title {
    font-family: $sfpro;
    font-weight: bold;
    font-size: 40px;
    line-height: .9;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    max-width: 622px;
    @include r($lg) {
      font-size: 36px;
      max-width: 550px;
      letter-spacing: -1px;
    }
    @include r($tablet) {
      font-size: 34px;
      max-width: 500px;
      line-height: 1;
    }
    @include r($sm) {
      font-size: 30px;
      letter-spacing: -.7px;
      max-width: 365px;
    }
    @include r($phone) {
      max-width: 320px;
    }
    @media (max-width: 413px) {
      max-width: 300px;
      letter-spacing: -.4px;
    }
    @media (max-width: 394px) {
      max-width: 280px;
    }
    @media (max-width: 380px) {
      max-width: 270px;
    }
    @media (max-width: 365px) {
      max-width: 260px;
    }
  }

  &__text {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    color: $silver-whisper;
    max-width: 624px;
    transition: max-height 0.3s ease, margin-top 0.3s ease;
    @include r($sm) {
      transition: max-height 0.5s ease, margin-top 0.5s ease;
    }

    &.open {
      margin-top: 24px;
      @include r($sm) {
        margin-top: 18px;
      }
    }
  }

  &__btn {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
    transition: border .4s;

    &:focus {
      border-color: $lavender-bliss;
    }

    &.open {
      &::after {
        opacity: 0;
      }
    }

    &::before, &::after {
      @include pseudo;
      display: block;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      background: $white;
      opacity: 1;
      box-shadow: none;
      transition: opacity .4s, background-color .4s;

      @include r($sm) {
        width: 14px;
      }
    }

    &::before {
      @include topLeft50;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}