.home {
  @include bg;
  background-color: $lavender-bliss150;
  border-radius: 16px;
  margin: 0 8px;
  position: relative;
  background-image: url("../images/home.png");
  @include r($lg) {
    margin: 0 4px;
  }
  @media (max-width: 545px) {
    margin: 0;
  }

  &__inner {
    display: flex;
    min-height: 98vh;
    @media (max-width: 1030px) {
      min-height: 710px;
    }
    @include r($tablet) {
      min-height: 670px;
    }
    @media (max-width: 420px) {
      min-height: 650px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-left: 160px;
    max-width: 1114px;
    @media (max-width: 1460px) {
      margin-left: 130px;
    }
    @media (max-width: 1360px) {
      margin-left: 100px;
    }
    @media (max-width: 1240px) {
      margin-left: 60px;
    }
    @media (max-width: 1130px) {
      margin-left: 30px;
    }
    @media (max-width: 1070px) {
      margin-left: 0;
    }
  }

  &__title {
    font-family: $sfpro;
    font-size: 120px;
    font-weight: 1000;
    line-height: .9;
    letter-spacing: -3.6px;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: 1460px) {
      font-size: 114px;
    }
    @media (max-width: 1320px) {
      font-size: 108px;
    }
    @media (max-width: 1240px) {
      font-size: 104px;
      letter-spacing: -3px;
    }
    @media (max-width: 1130px) {
      font-size: 98px;
      letter-spacing: -2.5px;
    }
    @media (max-width: 1050px) {
      font-size: 94px;
    }
    @include r($lg) {
      font-size: 86px;
    }
    @media (max-width: 900px) {
      font-size: 82px;
    }
    @media (max-width: 840px) {
      font-size: 78px;
    }
    @include r($tablet) {
      font-size: 72px;
      margin-bottom: 30px;
      letter-spacing: -1.5px;
    }
    @media (max-width: 730px) {
      font-size: 70px;
    }
    @media (max-width: 705px) {
      font-size: 66px;
    }
    @media (max-width: 670px) {
      font-size: 62px;
    }
    @media (max-width: 630px) {
      font-size: 60px;
      margin-bottom: 20px;
      line-height: .94;
    }
    @media (max-width: 600px) {
      font-size: 56px;
      letter-spacing: -1px;
    }
    @media (max-width: 420px) {
      font-size: 54px;
    }
    @media (max-width: 400px) {
      font-size: 52px;
    }
    @media (max-width: 385px) {
      font-size: 50px;
    }

    img {
      display: inline-block;
      user-select: none;
      vertical-align: middle;
      margin-left: 15px;
      margin-right: 10px;
      transform: translateY(-10%);
      @include r($lg) {
        width: auto;
        height: 52px;
      }
      @media (max-width: 900px) {
        height: 48px;
      }
      @media (max-width: 840px) {
        height: 44px;
        margin-left: 12px;
      }
      @media (max-width: 705px) {
        height: 40px;
      }
      @media (max-width: 670px) {
        height: 36px;
      }
      @media (max-width: 600px) {
        height: 33px;
        margin-left: 9px;
        margin-right: 8px;
      }
      @media (max-width: 420px) {
        height: 30px;
        margin-left: 7px;
        margin-right: 7px;
      }
      @media (max-width: 370px) {
        display: none;
      }
    }
  }

  &__text {
    font-size: 22px;
    max-width: 492px;
    @media (max-width: 1070px) {
      font-size: 20px;
      max-width: 450px;
    }
    @include r($tablet) {
      font-size: 18px;
      max-width: 420px;
    }
    @include r($phone) {
      max-width: 305px;
    }
  }

  &__link {
    max-width: max-content;
    margin-top: auto;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    line-height: 1.1;
    background-color: $white;
    padding: 33px 43px;
    width: 100%;
    border-radius: 152px;
    color: $midnight-sky;
    border: 2px solid transparent;
    transition: color .5s, border .5s, background-color .5s;
    @media (max-width: 1170px) {
      margin-bottom: 30px;
      padding: 30px 40px;
    }
    @media (max-width: 545px) {
      margin-bottom: 24px;
      position: relative;
      z-index: 15;
      padding: 26px 35px;
    }

    &:hover {
      background-color: $midnight-sky;
      color: $white;
    }

    &:focus {
      background-color: transparent;
      border-color: $white;
      color: $white;
    }
  }

  &__decor {
    position: absolute;
    user-select: none;
    right: 0;
    bottom: 0;
    z-index: 5;
    @media (max-width: 1360px) {
      width: auto;
      height: 490px;
    }
    @media (max-width: 1280px) {
      height: 450px;
    }
    @media (max-width: 1180px) {
      height: 420px;
    }
    @include r($lg) {
      height: 380px;
    }
    @include r($tablet) {
      height: 360px;
    }
    @media (max-width: 560px) {
      height: 340px;
    }
    @media (max-width: 545px) {
      right: -30px;
    }
    @media (max-width: 500px) {
      right: -42px;
    }
    @include r($phone) {
      height: 320px;
    }
    @media (max-width: 420px) {
      height: 300px;
    }
  }
}