<footer class="footer" id="community">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <img src="images/logo.svg" width="134" height="20" alt="logo">
      </div>
      <ul class="footer__list">
        <li>
          <a class="footer__link desktop" href="#home">Home</a>
        </li>
        <li>
          <a class="footer__link desktop" href="">Information</a>
        </li>
        <li>
          <a class="footer__link desktop" href="#prices">Pricing</a>
        </li>
        <li>
          <a class="footer__link desktop" href="#features">Features</a>
        </li>
        <li>
          <a class="footer__link desktop" href="#reviews">Reviews</a>
        </li>
      </ul>
      <div class="footer__right">
        <a class="footer__join" href="https://t.me/brute_crypto" target="_blank">
          Join telegram
          <span class="round"></span>
        </a>
      </div>
    </div>
  </div>
</footer>