<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="images/logo.svg" alt="логотип" width="135" height="21">
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link desktop" href="#info">Information</a>
          </li>
          <li>
            <a class="header__link desktop" href="#prices">Pricing</a>
          </li>
          <li>
            <a class="header__link desktop" href="#features">Features</a>
          </li>
          <li>
            <a class="header__link desktop" href="#reviews">Reviews</a>
          </li>
          <li>
            <a class="header__link desktop" href="#faq">Faq</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a class="header__btn" href="https://t.me/brute_crypto" target="_blank">
          Join telegram <span></span>
        </a>
      </div>
      <button class="menu-btn menu-btn--header" type="button">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Взаимодействовать с меню</span>
      </button>
    </div>
  </div>
<!--  <div class="header__mobile">
    <nav class="header__nav mobile">
      <div class="header__tooltip">
        <a class="header__btn" href="https://t.me/brute_crypto" target="_blank">
          Join telegram <span></span>
        </a>
      </div>
      <ul class="header__list">
        <li>
          <a class="header__link mobile" href="#about">Особенности</a>
        </li>
        <li>
          <a class="header__link mobile" href="#prizes">Призы</a>
        </li>
        <li>
          <a class="header__link mobile" href="#competition">Центр</a>
        </li>
        <li>
          <a class="header__link mobile" href="#price">Стоимость</a>
        </li>
        <li>
          <a class="header__link mobile" href="#participation">Принять участие</a>
        </li>
      </ul>
    </nav>
  </div>-->
</header>